

.header {
  overflow: hidden;
  background-color: #fdfdfd;
  padding: 20px 0px 0px 10px;
  border-bottom: solid 1px #ffcc00;
  position: fixed;
  width: 100%;

}

#navbarSupportedContent a{
  color: #fdfdfd;
}

#navbarSupportedContent button{
  color: #fdfdfd;
}

#dropdownbutton button{
  color: #fdfdfd;
}


a #nav-link-margin {
  margin-right: 10px;
}
nav#navbar.sticky{
  background-color: rgb(255 193 7 / 0.9) !important;
}
nav#navbar.sticky a,
nav#navbar.sticky .navbar-nav button.dropdown-item{
  color: black !important;
}


nav#navbar.sticky a:hover,
nav#navbar.sticky .navbar-nav button.dropdown-item:hover{
  color:#ffff !important;
}
nav#navbar.sticky .dropdown-item,
nav#navbar.sticky .navbar-nav .dropdown-menu{
  background-color: rgb(255 193 7 / 0.9) !important;
}

nav#navbar.sticky .dropdown-menu {
  border: 1px solid rgb(255 193 7 / 0.15);
}
nav#navbar.sticky .dropdown-item:focus {
  border: 1px solid rgb(255 193 7 / 0.15);
}
