        .login {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
            text-align: center;
        }

        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #ffcc00;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 18px;
            padding: 2px;
            width: 300px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 1% 0 17% 0%;
        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .button:hover span {
            padding-right: 25px;
        }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }